<app-navbar></app-navbar>
<br><br>
<div style="margin-left: 370px;" class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="empName">Employee Name</label>
          <input #empName="ngModel" [(ngModel)]="employee['empName']" name="empName" id="empName" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="empName.touched && empName.invalid">
            Employee Name is required.
          </div>
        </div>   
         
        <div class="form-group">
          <label for="empDesignation">Employee Designation</label>
          <div class="input-group">
            <input #empDesignation="ngModel" [(ngModel)]="employee.empDesignation" name="empDesignation" id="empDesignation" type="text" class="form-control" required>
          </div>
          <div class="alert alert-danger" *ngIf="empDesignation.touched && empDesignation.invalid">
            <div *ngIf="empDesignation.errors.required">Employee Designation is required.</div>
          </div>
        </div>        
                
        <div class="form-group">
          <label for="empDepartment">Employee Department</label>
          <input #empDepartment="ngModel" [(ngModel)]="employee.empDepartment" name="empDepartment" id="empDepartment" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="empDepartment.touched && empDepartment.invalid">
            <div *ngIf="empDepartment.errors.required">Employee Department is required.</div>
          </div>
        </div>   
        <div class="form-group">
          <label for="empManager">Employee Manager</label>
          <input #empManager="ngModel" [(ngModel)]="employee.empManager" name="empManager" id="empManager" type="text" class="form-control" required>
          <div class="alert alert-danger" *ngIf="empManager.touched && empManager.invalid">
            <div *ngIf="empManager.errors.required">Employee Manager is required.</div>
          </div>
        </div> 
        <div class="form-group">
          <label for="empType">Employee Type</label>
          <select #empType="ngModel" [(ngModel)]="employee.empType" name="empType" id="empType" class="form-control" required>
            <!-- <option value=""></option> -->
            <option value="Permanent">Permanent</option>
            <option value="Contract">Contract</option>
          </select>
          <div class="alert alert-danger" *ngIf="empType.touched && empType.invalid">
            Employee Type is Required
          </div>
        </div> 
        <!-- <div class="form-group">
          <label for="empType">Employee Type</label>
          <div class="input-group">
            <input #empType="ngModel" [(ngModel)]="employee.empType" name="empType" id="empType" type="text" class="form-control" required>
          </div>
          <div class="alert alert-danger" *ngIf="empType.touched && empType.invalid">
            <div *ngIf="empType.errors.required">Employee Type is required.</div>
          </div>
        </div>  -->
        <button class="btn btn-primary" [disabled]="!f.valid">{{buttonText}}</button>&nbsp;&nbsp;
        <button type="button" (click)="back()" class="btn btn-secondary">Back</button>
      </form>    
  </div>
</div>
